<section class="tf-section supported"> 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tf-title" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="title">
                        TRUSTED BY TOP-LEADING COMPANIES
                    </h2>
                </div>
            </div> 
        </div>
    </div>
    <div class="container w_1710 brand_wrapper">
        <div class="row"> 
            <div class="col-md-12">
                <div class="brand">
                    <div class="swiper-container slider-12" data-aos="fade-in" data-aos-duration="1000">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                               <div class="image">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/LogoSection/120x36_a_hst_huFTn.png?updatedAt=1639935736111" alt="Disney Plus" >
<!-- 
                                    <img src="/static/assets/images/common/brand_1.png" alt=""> -->
                               </div>
                            </div> 
                            <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_2.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_3.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_4.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_5.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_6.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_7.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_8.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_9.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_1.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_2.png" alt="">
                                </div>
                             </div> 
                             <div class="swiper-slide">
                                <div class="image">
                                     <img src="/static/assets/images/common/brand_3.png" alt="">
                                </div>
                             </div> 
                        </div>
           
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section> 