<section class="tf-section FAQs">
    <div class="overlay">
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="tf-title" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="title">
                        frequently asked questions
                    </h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="flat-accordion aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                    <div class="flat-toggle">
                        <div class="h7 toggle-title">
                            <span class="icon-Icon">
                            </span>
                            <span> Get the Unlimited Graphic Design Request</span>
                        </div>
                        <p class="toggle-content" style="display: none;">Our unlimited graphic design for monthly plan, you can add unlimited requests and we
                            will try to get to them as soon as
                            possible. Your designer will work on one active design request at a time. After the
                            completing one request he will pick
                            up the next request.</p>
                    </div>
                    <div class="flat-toggle active">
                        <div class="h7 toggle-title active">
                            <span class="icon-Icon">
                            </span>
                            <span>I work with multiple brands, so will you be working on all my brand designs</span>
                        </div>
                        <p class="toggle-content" style="display: none;">We are here to help your business grow. You can add as many brands as you like.</p>
                    </div>
                    <div class="flat-toggle">
                        <div class="h7 toggle-title">
                            <span class="icon-Icon">
                            </span>
                            <span>What is `unlimited revisions` work</span>
                        </div>
                        <p class="toggle-content" style="display: none;">Monkeysingh foremost designer delivers the design, you can request for unlimited
                            revisions until you are satisfied. All
                            types of revisions will be done within 24-48 hours unless you have requested for a
                            completely new concept. This is what
                            we called unlimited graphic design monthly subscription.</p>
                    </div>
                    <div class="flat-toggle">
                        <div class="h7 toggle-title">
                            <span class="icon-Icon">
                            </span>
                            <span> I am an agency, can I resell the work</span>
                        </div>
                        <p class="toggle-content" style="display: none;">Sure. You own all the rights to the designs created for you. Nothing will make us
                            happier than seeing you excel in what
                            you do.</p>
                    </div>
                    <div class="flat-toggle">
                        <div class="h7 toggle-title">
                            <span class="icon-Icon">
                            </span>
                            <span> How does your `Pay Per Request`</span>
                        </div>
                        <p class="toggle-content" style="display: none;"> You get 5 design request credits with our $95 pay per request plan. Your plan is valid
                            for a period of one month and you
                            can redeem the credits for any of your design requests. After 30 days from the date of
                            subscription, your card will be
                            charged for $99 for another 30 days with 5 new request credits. Unused credits can't be
                            carry forwarded to the next
                            month.</p>
                    </div>
                    <div class="flat-toggle">
                        <div class="h7 toggle-title">
                            <span class="icon-Icon">
                            </span>
                            <span>How does Monkeysingh compare to working with an agency</span>
                        </div>
                        <p class="toggle-content" style="display: none;"> We pride ourselves on our high quality which we deliver at an extremely low rate. We
                            deliver our projects at
                            approximately 80% of the cost of equivalent agency projects for the same or better
                            quality.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="content_faq text-center">
                    <p>If you don`t find an answer, contact with our experts</p>
                    <div class="wrap-btn">
                        <a href="/contact-us" class="tf-button style1">
                            get in touch
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 