<section class="tf-section features">
    <div class="overlay">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tf-title" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="title">
                        Our Graphic Design Features 
                    </h2>
                    <p>Get your own graphic design team at affordable prices!</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="wrapper-box">
                    <div class="icon-box-style2">
                        <div class="icon">
                            <img src="/static/assets/images/common/icon_4.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Unlimited Requests</h5>
                            <p>Add multiple project requests and our desicated
                                designer will work through your queue as fast as he can. With our
                                unlimited plan, get a new design made every 24 hours.</p>
                        </div>
                    </div>
                    <div class="icon-box-style2">
                        <div class="icon">
                            <img src="/static/assets/images/common/icon_5.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Unlimited Revisions</h5>
                            <p>If you are not happy with the font type or font
                                size? Or is that shade of any color or any other small thing? Just let
                                us know and we will fix it for you until you are completely satisfied.</p>
                        </div>
                    </div>
                    <div class="icon-box-style2">
                        <div class="icon">
                            <img src="/static/assets/images/common/icon_6.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Fast Turnaround</h5>
                            <p>We pride ourselves at not only creating great
                                designs but also as early as possible. We are always on time with a
                                24-hour turnaround for most requests.</p>
                        </div>
                    </div>
                    <div class="icon-box-style2">
                        <div class="icon">
                            <img src="/static/assets/images/common/icon_7.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Committed Professional Designers</h5>
                            <p>We ensure a committed designer and steady quality
                                for each solicitation you put in. Every one of our designer is
                                in-house, we don't re-appropriate your work to an outsider.</p>
                        </div>
                    </div>
                    <div class="icon-box-style2">
                        <div class="icon">
                            <img src="/static/assets/images/common/icon_8.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Client Assistance</h5>
                            <p>Need some information on your solicitation? Don't
                                worry about it! We have a devoted team prepared to help you day in and
                                day out through our Live Chat support.</p>
                        </div>
                    </div>
                    <div class="icon-box-style2">
                        <div class="icon">
                            <img src="/static/assets/images/common/icon_10.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Source Files Included</h5>
                            <p>We make it and you own it. Editable Adobe +,PDF ,
                                PNG, JPG designs are incorporated with every designs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

