<section class="tf-section three_step">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tf-title mb46 left" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="title">
                        How it works
                    </h2>
                    <p>Spend Less Time on Marketing and Grow Your
                        Business
                        More Quickly</p>
                </div>
                <div class="wrap-box">
                    <div class="icon-box-style3">
                        <div class="icon">
                            <img src="/static/assets/images/common/icon_9.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Submit Design Requests</h5>
                            <p>Tell us exactly what type of design do
                                you
                                want.</p>
                        </div>
                        <img class="icon_bottom" src="/static/assets/images/common/Line.png" alt="">
                    </div>
                    <div class="icon-box-style3">
                        <div class="icon">
                            <img src="/static/assets/images/common/icon_10.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title"> Give Feedback, Get Revisions</h5>
                            <p>Let us know about the changes and
                                revisions
                                you need.</p>
                        </div>
                        <img class="icon_bottom" src="/static/assets/images/common/Line.png" alt="">
                    </div>
                    <div class="icon-box-style3">
                        <div class="icon">
                            <img src="/static/assets/images/common/icon_2.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Approve And Download</h5>
                            <p>Approve the design to receive your
                                source
                                files.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image pt30">
                    <img src="/static/assets/images/common/img_step.png" class="move5" alt="">
                </div>
            </div>
        </div>
    </div>
</section> 