<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-216265845-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-216265845-1');
    </script>

    <meta name="google-site-verification" content="qqzra8HzYKGrUodVBn-dbHlZrWm-NBIH3IhY1EOhwJY" />


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="description" content="Most affordable and unlimited graphic designs. Try for free">
    <link rel="icon" type="image/png"
        href="https://ik.imagekit.io/gzmznzzqlrz/kjxkjjkjerhrhtjrhjr_zjUOAmuKz.png?updatedAt=1640517791171">
    <script async src="https://kit.fontawesome.com/20970c5fb1.js" crossorigin="anonymous"></script>
    <title>Best Unlimited Graphic Design Service India | Affordable Graphic Designer</title>
    <meta name="description"
        content="Looking for unlimited graphic design service India? Hire affordable graphic designer India. MonkeySingh provide the Best unlimited graphic design services at affordable prices!" />
    <link rel="canonical" href="https://www.monkeysingh.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Best Unlimited Graphic Design Service India | Affordable Graphic Designer" />
    <meta property="og:description"
        content="Looking for unlimited graphic design service India? Hire affordable graphic designer India. MonkeySingh provide the Best unlimited graphic design services at affordable prices!" />
    <meta property="og:url" content="https://www.monkeysingh.com/" />
    <meta property="og:site_name" content="MonkeySingh" />
    <meta property="article:modified_time" content="2022-01-04T12:06:05+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="5 minutes" />
</head>

<body class="">

    <%- include("partials/primaryHeader.ejs") %>

        <!-- Hero -->
        <section class="px-2 py-16  md:px-0">
            <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
                <div class="flex py-12 flex-wrap items-center sm:-mx-3">
                    <div class="w-full text-center md:text-left md:w-1/2 md:px-3">
                        <div
                            class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
                            <h1
                                class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl md:text-3xl lg:text-4xl xl:text-5xl">
                                <span class="block xl:inline">Boost Sale On e-Commerce</span>
                            </h1>
                            <p class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">We Advertise
                                on Facebook, Instagram and Google Ads for your e-commerce store and skyrocket your sales
                            </p>
                            <div class="relative flex flex-col sm:flex-row sm:space-x-4">
                                <a href="#scheduleCallSection"
                                    class="flex items-center w-full px-6 py-3 mb-3 text-lg text-white bg-blue-600 rounded-md sm:mb-0 hover:bg-blue-700 sm:w-auto">
                                    Schedule Call
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2">
                        <div class="w-full h-auto overflow-hidden rounded-md sm:rounded-xl">
                            <img src="https://d24oheizjk2k1o.cloudfront.net/wp-content/uploads/2019/10/29162032/5-Ways-to-Scale-Your-Ecommerce-Business.jpg"
                                alt="Monkeysingh">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- advertising section  -->
        <section class="py-16">
            <div class="px-2 my-3 mx-1 md:mx-3 flex flex-col md:flex-row justify-around ">
                <div class="m-3">
                    <div><img class="text-center mx-auto" style="width: 200px; height: 200px;"
                            src="https://www.adyogi.com/hs-fs/hubfs/New%20Project%20(1)-1.png?width=800&name=New%20Project%20(1)-1.png"
                            width="400" height="400" alt=""></div>
                    <div class="text-blue-700 text-center font-bold text-xl">Facebook Adverstising</div>
                </div>
                <div class="m-3">
                    <div><img class="text-center mx-auto" style="width: 200px; height: 200px;"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRaekzA4ZW-1ZXQdwSVSlVBcTCoa6SyiAIaQ&usqp=CAU"
                            width="200" height="200" alt=""></div>
                    <div class="text-blue-700 text-center font-bold text-xl">Instagram Adverstising</div>
                </div>
                <div class="m-3">
                    <div><img class="text-center mx-auto" style="width: 200px; height: 200px;"
                            src="https://www.adyogi.com/hs-fs/hubfs/New%20Project%20(2)-1.png?width=800&name=New%20Project%20(2)-1.png"
                            width="200" height="200" alt=""></div>
                    <div class="text-blue-700 text-center font-bold text-xl">Google Adverstising</div>
                </div>
                <div class="m-3">
                    <div><img class="text-center mx-auto" style="width: 200px; height: 200px;"
                            src="https://www.adyogi.com/hs-fs/hubfs/New%20Project%20(3)-1.png?width=800&name=New%20Project%20(3)-1.png"
                            width="200" height="200" alt=""></div>
                    <div class="text-blue-700 text-center font-bold text-xl">Youtube Adverstising</div>
                </div>
            </div>
        </section>
        <hr>
        <!-- logo section  -->
        <section class="pt-7 pb-14 bg-blue-200">
            <div class="container px-8 mx-auto sm:px-12 lg:px-20">
                <h1 class="text-sm font-bold tracking-wide text-center text-gray-800 uppercase mb-7">Trusted by
                    top-leading
                    companies</h1>
                <div class="flex grid items-center justify-center grid-cols-4 grid-cols-12 gap-y-8">
                    <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                        <img src="https://ik.imagekit.io/gzmznzzqlrz/advertising/SPO%CC%81RTTI%CC%81F_8A4Qd2BYr.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999671587"
                            alt="Disney Plus" class="block object-contain h-12 filter hover:filter-none">
                    </div>
                    <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                        <img src="https://ik.imagekit.io/gzmznzzqlrz/advertising/NHWideLogo2-removebg-preview_uEy8utL8sI.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999671371"
                            alt="Google" class="block object-contain h-9 filter hover:filter-none">
                    </div>
                    <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                        <img src="https://ik.imagekit.io/gzmznzzqlrz/advertising/Ardozaa_black-01-removebg-preview_vITiRtcGN.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999671038"
                            alt="Hubspot" class="block object-contain h-9 filter hover:filter-none">
                    </div>
                    <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                        <img src="https://ik.imagekit.io/gzmznzzqlrz/advertising/lalit_pharmacy-removebg-preview_I_LVJzVGJ5.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999671091"
                            alt="Youtube" class="block object-contain h-7 lg:h-8 filter hover:filter-none">
                    </div>
                    <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-6 xl:col-span-2">
                        <img src="https://ik.imagekit.io/gzmznzzqlrz/advertising/imageedit_11_5470123383_WVBTYG70l.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999670904"
                            alt="Slack" class="block object-contain h-9 filter hover:filter-none">
                    </div>
                    <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-6 xl:col-span-2">
                        <img src="https://ik.imagekit.io/gzmznzzqlrz/advertising/baise_gaba-removebg-preview_5QJQUgWq4.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999670953"
                            alt="Shopify" class="block object-contain h-9 filter  hover:filter-none">
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <!-- how we boost sale section  -->
        <section class="py-16 mt-12 px-4 transition-all duration-200">
            <div class="container max-w-6xl mx-auto">
                <h2 class="text-5xl font-bold tracking-tight text-center">How we boost sale</h2>
                <p class="mt-2 text-lg text-center text-gray-600">Monkeysingh is an industry-leading company in
                    marketing e-Commerce business with experience of many years and a dedicated
                    team of over 100 growth experts, we have been the trusted partner to numerous reputed brands across
                    industries.</p>
                <div class="px-4 flex flex-col md:flex-row">
                    <div class="m-8 hover:text-blue-700">
                        <img class="mx-auto object-contain md:object-scale-down rounded-md m-4" style="height: 240px;"
                            src="https://2834442.fs1.hubspotusercontent-na1.net/hub/2834442/hubfs/value%20(1).png?width=100&name=value%20(1).png"
                            alt="">
                        <h4 class="text-xl text-center pt-8 font-semibold">Increase Customer Base</h4>
                        <p class="py-4 mt-4 text-md text-center font-light">We get the right set of people to visit your
                            online store using AI-supported prospect campaigns and lookalike campaigns</p>
                    </div>
                    <div class="m-8 hover:text-blue-700">
                        <img class="mx-auto object-contain md:object-scale-down rounded-md m-4" style="height: 240px;"
                            src="https://2834442.fs1.hubspotusercontent-na1.net/hub/2834442/hubfs/laptop.png?width=100&name=laptop.png"
                            alt="">
                        <h4 class="text-xl text-center pt-8 font-semibold">Quick Statistics</h4>
                        <p class="py-4 mt-4 text-md text-center font-light">At Monkeysingh we track each and every sale
                            coming from our platform, so you always know of what you are spending for</p>
                    </div>
                    <div class="m-8 hover:text-blue-700">
                        <img class="mx-auto object-contain md:object-scale-down rounded-md m-4" style="height: 240px;"
                            src="https://2834442.fs1.hubspotusercontent-na1.net/hub/2834442/hubfs/target.png?width=100&name=target.png"
                            alt="">
                        <h4 class="text-xl text-center pt-8 font-semibold">Retarget Audience</h4>
                        <p class="py-4 mt-4 text-md text-center font-light">We retarget audience and promote the
                            products based on their last interaction on the website and increase the chances of
                            conversion</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <!-- google youtube section  -->
        <section class="py-20 bg-gray-50">
            <div class="container items-center max-w-6xl px-4 px-10 mx-auto sm:px-20 md:px-32 lg:px-16">
                <div class="flex flex-wrap items-center -mx-3">
                    <div class="order-1 w-full px-3 lg:w-1/2 lg:order-0">
                        <div class="w-full lg:max-w-md">
                            <h2 class="mb-4 text-3xl font-bold leading-tight tracking-tight sm:text-4xl font-heading">
                                Google Shopping, Search & YouTube Ads</h2>
                            <p class="mb-4 font-medium tracking-tight text-gray-400 xl:mb-6">We create Google Smart
                                Shopping campaigns that convert very fast. Monkeysingh helps you transform your product
                                data
                                feeds, optimize your content, automate targeted bidding and compare your performance to
                                that of competitors</p>
                        </div>
                    </div>
                    <div class="w-full px-3 mb-12 lg:w-1/2 order-0 lg:order-1 lg:mb-0"><img
                            class="mx-auto shadow sm:max-w-sm lg:max-w-full"
                            src="https://searchengineland.com/wp-content/seloads/2019/11/shopping-ads-youtube-1920x.jpg"
                            alt="feature image">
                    </div>
                </div>
            </div>
        </section>
        <!-- facebook instagram section  -->
        <section class="py-20 bg-gray-50">
            <div class="container items-center max-w-6xl px-4 px-10 mx-auto sm:px-20 md:px-32 lg:px-16">
                <div class="flex flex-wrap items-center -mx-3">
                    <div class="w-full px-3 mb-12 lg:w-1/2 order-0 lg:order-1 lg:mb-0"><img
                            class="mx-auto shadow sm:max-w-sm lg:max-w-full"
                            src="https://5.imimg.com/data5/IG/RC/MZ/SELLER-9414572/facebook-and-instagram-paid-ads-500x500.jpg"
                            alt="feature image">
                    </div>
                    <div class="order-1 w-full px-3 lg:w-1/2 lg:order-0">
                        <div class="w-full lg:max-w-md">
                            <h2 class="mb-4 text-3xl font-bold leading-tight tracking-tight sm:text-4xl font-heading">
                                Facebook & Instagram Advertising</h2>
                            <p class="mb-4 font-medium tracking-tight text-gray-400 xl:mb-6">You should Use Facebook and
                                Instagram advertising and dominate social media sites where online shoppers are actively
                                seeking purchase inspiration and ideas. Monkeysingh helps you by implementing the right
                                strategy and ensures good sales
                                and gives you ideas so as to optimize your returns.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- stats section  -->
        <section class="pt-7 pb-14 bg-center bg-no-repeat bg-black bg-blend-multiply"
            style="background:rgba(0, 0, 0, .65) url('https://www.adyogi.com/hs-fs/hubfs/Credo%20pack/Backgrounds/background_4.png?width=1980&name=background_4.png'); background-position: center; background-blend-mode: darken; ">
            <div class="container text-white px-8 mx-auto sm:px-12 lg:px-20">
                <div class="flex flex-col md:flex-row items-center justify-around gap-y-8">
                    <div class="flex items-center justify-center">
                        <div>
                            <h4 class="text-5xl">200+</h4>
                            <p>Global Brands</p>
                        </div>
                    </div>
                    <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-6 xl:col-span-2">
                        <div>
                            <h4 class="text-5xl">40M+</h4>
                            <p>Annual Ad Spends</p>
                        </div>
                    </div>
                    <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-6 xl:col-span-2">
                        <div>
                            <h4 class="text-5xl">6X+</h4>
                            <p>Average ROAS</p>
                        </div>
                    </div>
                    <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-6 xl:col-span-2">
                        <div>
                            <h4 class="text-5xl">350M+</h4>
                            <p>Annual Sales Value</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- testimonial section  -->
        <div class="my-6 w-full flex flex-wrap gap-5 justify-center">
            <div class=" my-5 hover:bg-gray-50 shadow-xl border rounded-lg p-6"
                style="width: 380px; margin: 5px;">
                <div class="flex items-center space-x-6 mb-4">
                    <img class="h-20 w-20 object-cover object-center rounded-full"
                        src="https://ik.imagekit.io/gzmznzzqlrz/advertising/baise_gaba-removebg-preview_5QJQUgWq4.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999670953&tr=h-100%2Cw-100"
                        alt="photo" />
                    <div>
                        <p class="text-xl text-gray-700 font-normal mb-1">
                            Ajay Tanvar
                        </p>
                        <p class="text-base text-blue-600 font-normal">
                            Head of e-Commerce, Baise Gaba
                        </p>
                    </div>
                </div>
                <div>
                    <p class="text-gray-400 leading-loose overflow-hidden font-normal text-base">
                        Since partnering with Monkeysingh our client has grown 10 times. The team utilizes their strong
                        communication and ad
                        management skills to establish a seamless process.
                    </p>
                </div>
            </div>
            <div class=" my-5 hover:bg-gray-50 shadow-xl border rounded-lg p-6"
                style="width: 380px; margin: 5px;">
                <div class="flex items-center space-x-6 mb-4">
                    <img class="h-20 w-20 object-cover object-center rounded-full"
                        src="https://ik.imagekit.io/gzmznzzqlrz/advertising/Ardozaa_black-01-removebg-preview_vITiRtcGN.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999671038&tr=h-100%2Cw-100"
                        alt="photo" />
                    <div>
                        <p class="text-xl text-gray-700 font-normal mb-1">
                            Amit Jindal
                        </p>
                        <p class="text-base text-blue-600 font-normal">
                            CEO, Ardozaa Fashions
                        </p>
                    </div>
                </div>
                <div>
                    <p class="text-gray-400 leading-loose overflow-hidden font-normal text-base">
                        Amazing service offered by Monkeysingh with incredible results. I would highly recommend their
                        ad services to another
                        group. They impressed us with their ability to receive results in such a short period of time.
                    </p>
                </div>
            </div>
            <div class=" my-5 hover:bg-gray-50 shadow-xl border rounded-lg p-6"
                style="width: 380px; margin: 5px;">
                <div class="flex items-center space-x-6 mb-4">
                    <img class="h-20 w-20 object-cover object-center rounded-full"
                        src="https://ik.imagekit.io/gzmznzzqlrz/advertising/imageedit_11_5470123383_WVBTYG70l.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999670904&tr=h-100%2Cw-100"
                        alt="photo" />
                    <div>
                        <p class="text-xl text-gray-700 font-normal mb-1">
                            Sanjay Shaurya
                        </p>
                        <p class="text-base text-blue-600 font-normal">
                            Head of Marketing, Manglam Radiance
                        </p>
                    </div>
                </div>
                <div>
                    <p class="text-gray-400 leading-loose overflow-hidden font-normal text-base">
                        We have been using Monkeysingh for advertising our Real Estate projest. I have been very pleased
                        with the results. we
                        are seeing solid results in both sales and customer faith in us and we are expanding our
                        services with them. I would
                        recommend them to friends and family.
                    </p>
                </div>
            </div>
            <div class=" my-5 hover:bg-gray-50 shadow-xl border rounded-lg p-6"
                style="width: 380px; margin: 5px;">
                <div class="flex items-center space-x-6 mb-4">
                    <img class="h-20 w-20 object-cover object-center rounded-full"
                        src="https://ik.imagekit.io/gzmznzzqlrz/advertising/lalit_pharmacy-removebg-preview_I_LVJzVGJ5.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649999671091&tr=h-100%2Cw-100"
                        alt="photo" />
                    <div>
                        <p class="text-xl text-gray-700 font-normal mb-1">
                            Bhavesh Duggad
                        </p>
                        <p class="text-base text-blue-600 font-normal">
                            CEO, Lait Pharmacy
                        </p>
                    </div>
                </div>
                <div>
                    <p class="text-gray-400 leading-loose overflow-hidden font-normal text-base">
                        Great company to have team up to make your company a success. They have done a huge difference
                        in our company for just a
                        short amount of time. They are very responsive and friendly.
                    </p>
                </div>
            </div>
        </div>
        <!-- schedule call section  -->
        <section class=""
            style="background:rgba(0, 0, 0, .65) url('https://www.adyogi.com/hs-fs/hubfs/Credo%20pack/Backgrounds/background_2.png?width=1980&name=background_2.png'); background-position: center; background-blend-mode: darken;">
            <div class="relative flex items-top justify-center text-white min-h-full lg:mt-24 sm:items-center sm:pt-0">
                <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
                    <div class="mt-8 overflow-hidden">
                        <div class="grid grid-cols-1 md:grid-cols-2">
                            <div class="p-6 mx-2 rounded-md sm:rounded-lg align-middle">
                                <h1 class="text-3xl sm:text-3xl text-white font-bold tracking-tight">
                                    Schedule a Call
                                </h1>
                                <p class="text-lg sm:text-lg font-extralight    text-white mt-2">
                                    Our goal at Monkeysingh is to help our clients capitalize on delivering personalized
                                    ads
                                    with automated prospecting,
                                    retargeting and cross-selling using cutting-edge technology, to drive sales<br>
                                    Fill out the demo form, we will get back you soon.
                                </p>
                            </div>

                            <form action="/advertising" method="post" class="p-6 flex flex-col justify-center"
                                id="scheduleCall">
                                <div class="flex flex-col">
                                    <label for="name" class="hidden">Full Name</label>
                                    <input type="name" name="name" id="name" placeholder="Full Name"
                                        class="w-100 mt-2 py-3 px-3 rounded-lg  dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
                                </div>

                                <div class="flex flex-col mt-2">
                                    <label for="email" class="hidden">Email</label>
                                    <input type="email" name="email" id="email" placeholder="Email"
                                        class="w-100 mt-2 py-3 px-3 rounded-lg  dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
                                </div>

                                <div class="flex flex-col mt-2">
                                    <label for="phoneNumber" class="hidden">Number</label>
                                    <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="Telephone Number"
                                        class="w-100 mt-2 py-3 px-3 rounded-lg  dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
                                </div>
                                <div class="flex flex-col mt-2">
                                    <label for="companyName" class="hidden">Comapny Name</label>
                                    <input type="text" name="companyName" id="companyName" placeholder="Company Name"
                                        class="w-100 mt-2 py-3 px-3 rounded-lg  dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
                                </div>
                                <div class="flex flex-col mt-2 text-black">
                                    <label class="block text-white text-sm font-bold mb-2" for="source">
                                        How did you get to know about MonkeySingh ?
                                    </label>
                                    <select name="source" id="source" form="scheduleCall"
                                        class="w-full h-10 align-middle pl-3 pr-6 text-base placeholder-gray-600 text-black border rounded-lg appearance-none focus:shadow-outline"
                                        placeholder="Regular input">
                                        <option value="Referrals">
                                            Referrals
                                        </option>
                                        <option value="DigitalAds">
                                            Digital Ads
                                        </option>
                                        <option value="EventsWebinars">
                                            Events and Webinars
                                        </option>
                                        <option value="OrganicSearch">
                                            Organic Search
                                        </option>
                                        <option value="SocialMedia">
                                            Social Media
                                        </option>
                                        <option value="DirectContacts">
                                            Direct Contacts
                                        </option>
                                        <option value="others">
                                            Others
                                        </option>
                                    </select>
                                </div>
                                <button type="submit"
                                    class="md:w-32 bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded-lg mt-3 hover:bg-indigo-500 transition ease-in-out duration-300">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer  -->
        <%- include("partials/footer.ejs") %>
</body>

</html>