<%- include("partials/primaryHeader.ejs") %>
<div class="inner-page login-page">
<section class="page-title">
    <div class="overlay"></div> 
</section>

<section class="tf-section project-info">
<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            <form  action="/changepassword" method="post"
            name="loginForm">
                <div class="project-info-form form-login">
                    <h6 class="title">Password</h6>
                    <h6 class="title show-mobie"><a href="/login">Login!</a></h6>
                    <h6 class="title link"><a href="/login">Login!</a></h6>
                    <!-- <p>Enter New Password !</p> -->
                    <% if(err){ %>
                        <div class="text-center my-2">
                            <p style="color: red;" class="text-red-500 text-sm align-baseline">
                                <%= err %>
                            </p>
                        </div>
                        <% } %>
                    <div class="form-inner"> 
                        <fieldset>
                            <label>
                                New Password *
                            </label>
                            <input
                            class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            id="password" type="password" name="password"
                            placeholder="******************" />
                        </fieldset>
                        
                        
                    </div>

                    <div class="form-inner">
                        <input type="checkbox" onclick="togglePasswordVisibility()">&nbsp;Show
                        Password
                        <script>
                            function togglePasswordVisibility() {
                                var x = document.getElementById("password");
                                if (x.type === "password") {
                                    x.type = "text";
                                } else {
                                    x.type = "password";
                                }
                            }
                        </script>
                    </div>
                    <!-- <a   href="/resend" class="fogot-pass">Resend OTP</a>  -->
                </div> 

                <div class="wrap-btn">
                    <button type="submit" class="tf-button style2">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
</div>
<%- include("partials/footer.ejs") %> 
