
<%- include("partials/primaryHeader.ejs") %>
<section class="tf-section three_step">
    <div class="overlay"></div>
    <div class="container">
    </div>
    </section>
<!-- how it works  -->
<%- include("sections/howitworks.ejs") %>
 
<!-- faqs-->
<%- include("sections/faqs.ejs") %>

<%- include("partials/footer.ejs") %>
