<%- include("partials/primaryHeader.ejs") %>
<div class="inner-page login-page">
<section class="page-title">
    <div class="overlay"></div> 
</section>

<section class="tf-section project-info">
<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            <form  action="/verifyregister" method="post"
            name="loginForm" onsubmit="validateLoginForm()" >
                <div class="project-info-form form-login">
                    <h6 class="title">OTP</h6>
                    <h6 class="title show-mobie"><a href="/login">Login!</a></h6>
                    <h6 class="title link"><a href="/login">Login!</a></h6>
                    <p>Enter your OTP Verify your Account!!</p>
                    <% if(err){ %>
                        <div class="text-center my-2">
                            <p style="color: red;" class="text-red-500 text-sm align-baseline">
                                <%= err %>
                            </p>
                        </div>
                        <% } %>
                    <div class="form-inner"> 
                        <fieldset>
                            <label>
                                OTP *
                            </label>
                            <input  id="otp" type="number" name="otp" placeholder="Enter your OTP"  required  >
                        </fieldset>
                        
                        
                    </div>
                    <a   href="/resend" class="fogot-pass">Resend OTP</a> 
                </div> 

                <div class="wrap-btn">
                    <button type="submit" class="tf-button style2">
                        Submit OTP
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
</div>
<%- include("partials/footer.ejs") %>
<script>
    function validateLoginForm() {
        let username = document.forms["loginForm"]["otp"].value
        
        if (username.length == 0) {
            document.getElementsByClassName("blankUsernameAlert").css.display = "block";
            return false;
        }
      
    }
</script>
