<!DOCTYPE html>
<html lang="en">

<head>
    <title>Our Privacy Policy - MonkeySingh</title>
    <meta name="description" content="Our Privacy Policy - MonkeySingh" />

    <meta property="og:title" content="Our Privacy Policy - MonkeySingh" />
    <meta property="og:description" content="Our Privacy Policy - MonkeySingh" />
    <meta property="og:url" content="https://monkeysingh.com/privacy-policy/" />

</head>

<body>
    <%- include("partials/primaryHeader.ejs") %>
        <section class="tf-section three_step " style="padding-bottom: 235px;">
            <div class="overlay"></div>
            <div class="container">
            </div>
        </section>

        <section class="page-title">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs" data-aos="zoom-in" data-aos-duration="800">
                            <h3>PRIVACY POLICY</h3>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <span class="icon">
                                        <svg width="5" height="9" viewBox="0 0 5 9" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.9375 1.375L4.0625 4.5L0.9375 7.625" stroke="white"
                                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                    <span>Privacy Policy</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="tf-section tf-team-details pt60">
            <div class="container">
                <div class="content"
                    style="max-width: 800px; margin: auto; display: flex; flex-direction: column; gap: 10px;">
                    <p>Monkeysingh.com (Monkeysingh) is committed to keeping any and all personal information collected
                        from individuals who visit our website and use our online facilities and services accurate,
                        confidential, secure, and private. Our privacy policy has been designed and created to ensure
                        our commitment to meet and exceed most existing privacy standards.</p>

                    <p>THEREFORE, this Privacy Policy Agreement shall apply to Monkeysingh.com and govern any and all
                        data collection and usage. By using <a
                            href="https://monkeysingh.com">https://monkeysingh.com</a>, you consent to the data
                        procedures outlined in this agreement.</p>

                    <h2>Collection of Information</h2>
                    <p>This website collects various types of information, including:</p>
                    <ul>
                        <li>Voluntarily provided information: This may include your name, address, email address,
                            billing and/or credit card information, etc., which is used when you purchase products
                            and/or services and to deliver the services you have requested.</li>
                        <li>Automatically collected information: This may include cookies, third-party tracking
                            technologies, and server logs.</li>
                    </ul>
                    <p>Please rest assured that this site only collects personal information that you knowingly and
                        willingly provide through surveys, membership forms, and emails. We will use personal
                        information only for the purpose for which it was requested and any additional uses specifically
                        provided on this site.</p>

                    <p>Monkeysingh.com may also collect anonymous demographic information, such as age, gender,
                        household income, political affiliation, race, and religion, at a later time. Additionally, we
                        may gather information about the type of browser, IP address, or operating system you use to
                        improve and maintain the quality of our services.</p>

                    <p>It is highly recommended that you review the privacy policies of any third-party websites you
                        visit, as we are not responsible for the privacy practices of other sites.</p>

                    <h2>Use of Information Collected</h2>
                    <p>Monkeysingh.com may collect and use your personal information to operate our website and ensure
                        the delivery of services you need and request. At times, we may use personally identifiable
                        information to keep you informed about other products and services available from
                        Monkeysingh.com. We may also contact you to complete surveys or gather feedback related to
                        potential future services.</p>

                    <p>Monkeysingh.com does not sell, rent, or lease customer lists and/or names to third parties.
                        However, with your consent, we may share your information with third parties to inform you of
                        offers or products that may interest you. If you express interest in such offers, specific
                        identifiable information, such as your name and contact details, may be shared with the third
                        party.</p>

                    <p>We may also track user behaviour on our site to better understand the services and products that
                        interest our customers.</p>

                    <p>Monkeysingh.com may disclose your personal information without prior notice only when required by
                        law or in good faith, believing such action is necessary to:</p>
                    <ul>
                        <li>Comply with any legal process;</li>
                        <li>Protect and defend the rights or property of Monkeysingh.com;</li>
                        <li>Act under exigent circumstances to protect the safety of users of Monkeysingh.com or the
                            public.</li>
                    </ul>

                    <h2>Children Under the Age of 13</h2>
                    <p>Monkeysingh.com does not knowingly collect personally identifiable information from children
                        under the age of thirteen (13) without verifiable parental consent. If we discover such
                        information has been inadvertently collected, we will take immediate steps to delete it.
                        Individuals under the age of thirteen (13) must obtain parent or guardian permission to use this
                        website.</p>

                    <h2>Unsubscribe or Opt-Out</h2>
                    <p>All users and visitors to our website have the option to discontinue receiving communication from
                        us. To unsubscribe, please send an email to <a
                            href="mailto:support@monkeysingh.com">support@monkeysingh.com</a>. For third-party websites,
                        you will need to visit that specific site to unsubscribe.</p>

                    <h2>Links to Other Websites</h2>
                    <p>Our website may contain links to affiliate and other websites. Monkeysingh.com does not claim
                        responsibility for the privacy policies, practices, or content of these other websites. We
                        encourage users to review the privacy statements of any website that collects personally
                        identifiable information. This Privacy Policy applies solely to the information collected on our
                        website.</p>

                    <h2>Security</h2>
                    <p>Monkeysingh.com takes every precaution to maintain physical, procedural, and technical security
                        to prevent the loss, misuse, unauthorised access, disclosure, or modification of your personal
                        information. We also use Secure Socket Layer (SSL) encryption to protect the communication of
                        sensitive information, such as credit card details.</p>

                    <h2>Changes to This Privacy Policy Agreement</h2>
                    <p>Monkeysingh.com reserves the right to update or change this Privacy Policy. We will post any
                        updates on our website's homepage, making you aware of the information we collect, how it is
                        used, and under what circumstances it may be disclosed. If we decide to use your personal
                        information in a manner different from that stated when it was collected, you will be notified
                        by email and given the option to allow or disallow this new use.</p>

                    <h2>Acceptance of Terms</h2>
                    <p>By using this website, you are accepting the terms and conditions of this Privacy Policy
                        Agreement. If you do not agree with these terms, please refrain from further use of our website.
                        Continued use following any updates to these terms will signify your acceptance of the changes.
                    </p>

                    <h2>How to Contact Us</h2>
                    <p><strong>“Monkeysingh.com”</strong> is Operated by Name for “Digital Media Step” Register Under
                        GSTIN/UIN: 08ARRPC1623K1ZP</p>

                    <p>If you have any questions or concerns about these Terms and Conditions, please contact us at:</p>
                    <p>Email: <a href="mailto:help@monkeysingh.com">help@monkeysingh.com</a></p>
                    <p>Phone: +91-9166691274</p>
                    <p>Address: DIGITAL MEDIA STEP, D -16 JANTA NAGAR RANKDI SODALA, JAIPUR-302006</p>

                    <p>By using Monkeysingh.com, you acknowledge that you have read, understood, and agree to these
                        Terms and Conditions.</p>

                </div>
            </div>
        </section>


        <%- include("partials/footer.ejs") %>

</body>

</html>