<!DOCTYPE html>
<html lang="en">

<head> 
    <title>Customer Stories - Monkeysingh</title>
</head>

<body>
    <%- include("partials/primaryHeader.ejs") %>


    <section class="tf-section three_step">
        <div class="overlay"></div>
        <div class="container">
        </div>
        </section>



    <section class="page-title">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="breadcrumbs" data-aos="zoom-in" data-aos-duration="800">
                            <h3>CUSTOMER STORIES</h3>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <span class="icon">
                                        <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.9375 1.375L4.0625 4.5L0.9375 7.625" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                    <span>Customer Stories</span>
                                </li>
                            </ul>
                        </div>            
                </div>
            </div>
        </div>
    </section>

<%- include("sections/stories.ejs") %> 
  
<%- include("partials/footer.ejs") %>
</body>

</html>