<!DOCTYPE html>
<html lang="en">

<head>  
    <meta charset="UTF-8">
 
    <title>Watch Demo - Monkeysingh</title>
</head>

<body>
    <!-- header  -->
    <%- include("partials/primaryHeader.ejs") %>

    <section class="tf-section three_step " style="padding-bottom: 235px;">
        <div class="overlay"></div>
        <div class="container"> 
        </div>
        </section>


    <section class="tf-section details">
        <div class="container">
            <div class="row">   
                    <div class="prodect-content">
                        <h4 class="heading mb10">Watch Demo</h4>
                        <div class="spacing"></div>
                     
                        <div class="image mb30">
                            <iframe src="https://www.youtube.com/embed/KfOK_iNDMk0" width="1200" height="600" class="m-4"></iframe>
                        </div>
                        
                        
                    </div>
               
            </div>
        </div>
    </section>
    <%- include("sections/companies.ejs") %> 

    
    <%- include("partials/footer.ejs") %>
</body>

</html>